spring:
  application:
    name: ingestion-service
  profiles:
    default: local
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

logging:
  level:
    root: INFO

kalshi:
  base-url: https://api.elections.kalshi.com/trade-api/v2

iem:
  base-url: https://mesonet.agron.iastate.edu
